body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 12px;
}

#grid-container {
  display: flex;
  border: solid 1px rgb(213, 240, 183);
  width: 400px;
  height: 400px;
}

.grid-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
}

.grid-square {
  flex: 1;
  background-color: lightpink;
  border: solid 1px rgb(213, 240, 183);
}

.hovered {
  background-color: lightblue;
}