body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#grid-container {
  display: flex;
  border: solid 1px black;
  width: 400px;
  height: 400px;
}

.grid-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
}

.grid-square {
  flex: 1;
  background-color: lightpink;
  border: solid 1px black;
}

.hovered {
  background-color: lightblue;
}